
<h1>My name is Patrick Clark. At least for now. Names matter.</h1>

<p>On at least 2 occasions that I can recall, children have asked me if I am Santa Claus. I have not actually played Santa Claus. Introversion kills a lot of potential fun. 

On one occasion, a child saw me coming out of a Best Buy and tugged at his mother and kind of loud-whispered, "It's Prince Leo!" I smiled, and filed that name away. I might need it someday. Still don't know who Prince Leo is.

To finish off this name thing, when I got married I changed my middle name to my wife's surname. Patrick Jeffrey Clark out, Patrick Downey Clark in. 

I think humans were actually intended to hibernate. We have wandered aimlessly along the evolutionary path and let bears rumble ahead of us on this issue. Consider: Sleep through the winter, then wake up well-rested, thinner and ready for the beach. There may be some downsides but I like the plus/minus comparison.

'<a href="/favorites"</a>'
'<a href="/welcome"</a>'</p>
'<a href="/"'


