<h1>ABOUT</h1>

<p>My name is Jillian and I'm way into pogs.</p>

<p><a href="http://giphy.com/gifs/90s-1990s-commercial-3CprYCqplN2QU">POGS!!!!!!</a></p> 
<br>
<br>
<br>
<br>
<p><a href="/">HOME</a></p>