<h1>FAVORITES</h1>

<p>These are a few of my favorite things:</p>

<ul>
  <li>Dogs</li>
  <li>Fruit</li>
  <li>Sunlight</li>
   <li>Walking</li>
  <li>TV</li>
</ul>

<br>
<br>
<br>
<br>

<p><a href="/">HOME</a></p>