<h1>Shannon's Favorite Things</h1>

<p>These are a few of my favorite things:</p> 

<p><a href="http://giphy.com/gifs/cat-watching-fAT2Db0j0Mblu/fullscreen">cats</a></p> 

<p><a href="http://giphy.com/gifs/food-90s-pizza-6HVKHkfl6srRu/fullscreen">pizza</a></p> 

<p><a href="http://giphy.com/gifs/jumanji-board-game-movie-13LhegVY5nUehq/fullscreen">boardgames</a></p>

<p><a href="http://giphy.com/gifs/adventure-time-cartoon-network-8Ry7iAVwKBQpG/fullscreen">and inclusive communities</a></p> 

<p><a href="/">Home</a></p>