<center><h1>FAVORITES</h1></center>

<center><h3>"These are a few of my favorite things..."</h3></center>

<center><h2>my family, soil, magic, saddness, creation, life, and death.</h2></center>

<center>I love the beautiful, fleshy paintings of<a href="https://en.wikipedia.org/wiki/Lucian_Freud"> Lucian Frued</a></center>

<center><img src="http://3.darkroom.stylist.co.uk/980/088b7a68959d79b0794ba32274c72bee:da186ef2de36d4961a0ff8f8cd0d2c90/lucian-freud.jpg"></center>

<a href="/">back</a>