<h1>About Me</h1>

<h4>These are a few of my favorite things:</h4>
<ul>
  <li>Coffee</li>
  <li>Old books</li>
  <li>The smell of old books</li>
  <li>Seeing my 4 month old daughter smile</li>
  <li>Taking hikes at Fontenelle Forest</li>
  <li>Playing guitar</li>
  <li>Going on road trips with my wife</li>
  <li>Watching Game of Thrones with my wife</li>
  <li>Watching Sherlock Holmes</li>
</ul>

<p><a href="/">Click here to return to homepage</a></p>