<h1>Favorites</h1>



<p>These are a few of my favorite things ...<p>
<p></p>
<p>Raindrops on roses and whiskers on kittens</p>
<p>Bright copper kettles and warm woolen mittens</p>
<p>Brown paper packages tied up with strings</p>
<p>These are a few of my favorite things</p>
<p></p>
<p>Cream colored ponies and crisp apple strudels</p>
<p>Doorbells and sleigh bells and schnitzel with noodles</p>
<p>Wild geese that fly with the moon on their wings</p>
<p>These are a few of my favorite things</p>
<p></p>
<p>Girls in white dresses, with blue satin sashes</p>
<p>Snow flakes that stay on my nose and eyelashes</p>
<p>Silver white winters that melt into springs</p>
<p>These are a few of my favorite things</p>
<p></p>
<p>When the dog bites, when the bee stings</p>
<p>When I'm feeling sad</p>
<p>I simply remember my favorite things</p>
<p>Like silver white winters that melt into springs</p>
<p>And then I don't feel so bad</p>
<p></p>

<a href="/">Home</a>

