
<h1>These are a few of my favorite things. 
(To steal a line from Julie Andrews, which just sounds like a horrible thing to do.)</h1>

<p>1. My incredible wife, whose name is Deborah.
2. My kids Haley and Erin.
3. There's a space between those and everything else.
4. Successful coding.
5. Everything else that I like.

'<a href="/about"</a>'
'<a href="/welcome"</a>'
'<a href="/"'

</p>

