<h1>Welcome</h1>

<p>These are a few of my favorite things:</p>


<!-- error msg: 
# in main.rb
class MyApp
  get '/images/gita.jpg' do
    "Hello World"
  end
end
 -->
<p>This is Gita. </p>
<p><img src="../images/gita.jpg" width="500" height="400" alt="This is a picture of my cat, Gita."></p>


<!-- <p>This is Clementine. </p>
<p><img src="../main/images/clementine.jpg" width="500" height="400" alt="This is a picture of my cat, Clementine."></p>


<p>This is Kitten. </p>
<p><img src="../main/images/kitten.jpg" width="500" height="400" alt="This is a picture of my cat, Kitten."></p>


<p><audio controls autoplay loop> <source src="../main/media/ice_cube.mp3" type="audio/mpeg"> Your browser doesn't support the audio tag. </audio></p> -->

<p><a href="/"em>Home</em></a></p>