<h1><center>My Faves</center></h1>

<p>These are a few of my favorite things:<br>
<ul style="list-style-type:circle">
  <li>Raindrops on roses</li>
  <li>Whiskers on kittens</li>
  <li>Bright copper kettles</li>
  <li>Warm woolen mittens</li>
</ul>
</p>
<br>
<br>
<br>
<center><a href="http://localhost:9292/">Main</a></center>

