<h1><center>Greetings</center></h1>

<p>This page links to all my greetings pages!</p>
<p>Also the string you entered is <%= params[:string] %>
<br>
<br>
<br>
<a href="http://localhost:9292/greet/Sumeet/">Sumeet</a><br>
<a href="http://localhost:9292/">Main</a>
