<h1 style="color:red">Welcome</h1>

<p>Hello, World!</p>

<p>Click here 
<a href="/about"> Learn about me</a>
to learn more about me. </p>

<p>Click here: 
<a href="/favorites"> My favorite things,</a>
to learn about some of my favorite things. </p>