<h1>Welcome, Friends of Omaha Code School!</h1>

<p>Hello, World! (If that works, that's a lot of new Friends of Omaha Code School all of a sudden.)


'<a href="/about"</a>'
'<a href="/favorites"</a>'
</p>
