<h1>"Hello, World!"</h1>

<img src="https://49.media.tumblr.com/7032b5e35b5cee2d7ef0f7fcc1967201/tumblr_na4piifGP91siilpjo1_400.gif">
<img src="https://49.media.tumblr.com/7032b5e35b5cee2d7ef0f7fcc1967201/tumblr_na4piifGP91siilpjo1_400.gif"> 
<img src="https://49.media.tumblr.com/7032b5e35b5cee2d7ef0f7fcc1967201/tumblr_na4piifGP91siilpjo1_400.gif"> 
<br>
<body> 

<a href="/about"> ABOUT </a href="/about"> <br>
<br>
<a href="/favorites"> FAVORITES </a href="/favorites"> <br>
<br>
<a href="/"> </a href="/"> <br>
<br>
<a href="/Greet"> GREET </a href="/Greet"> <br>
<br>

</body>