<center><h1>$$$$$$$$$$$$$$$  WELCOME TO HELL $$$$$$$$$$$$$$$</h1></center>

<center><p>Hello, World!</p></center>


<center><img src= http://images6.fanpop.com/image/photos/33900000/StPeewee-pee-wee-herman-33942778-944-654.jpg></center>

<center><h3>Click <a href="/about">here</a> to find out about me.</h3></center>

<center><h4><a href="/favorites">Here</a> are are few of my favorite things.</h4></center>