<h1>Welcome</h1>

<p>Hello, World!
<div><a href="/about">About Me</a></div>
<div><a href="/favorites">Click Here</a> to see a few of my favorite things, in addition to this cat.</div>

<center><img src="http://i.ytimg.com/vi/AO_Zmj9cIbE/hqdefault.jpg" alt="Cat in Space" style="width:480px;height:360px;"></center>


</p>